.product_page{
    padding-top: 40px;

    .section__title{
        @include text($black,32px,600);
        font-size: 24px;
        margin: 0;

        @media screen and (max-width: 500px) {
            @include text($black,20px,600);
            font-size: 16px;
        }
    }

    .section__title_link{
        text-decoration: none;
        @include text($grey_2,19px,normal);

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    .section__subtitle{
        @include text($grey_2,19px,normal);
        margin: 0;
    }

    .block__text{
        @include text($grey_1,19px,normal);

        @media screen and (max-width: 500px) {
            font-size: 12px;
        }
    }

    .product__container{
        max-width: 1140px;
        width: 100%;

        padding: 15px;
        padding-top: 0;
        margin: 21px auto;

        padding-bottom: 24px;

        border-bottom: 1px solid $grey_4;

        &-bottom{
            border-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-bottom: 0;
            margin-bottom: 0;
        }

        .product__intro{
            margin-bottom: 33px;
            display: flex;
            align-items: center;

            .intro__sliders{
                display: flex;
                min-width: 0;
                flex: 0 1 50%;

                .product_small_slider{
                    position: relative;
                    max-width: 100px;
                    width: 100%;
                    overflow: hidden;
                    margin-right: 23px;
    
                    .small_product__items{
                        max-height: 450px;
                        height: 100%;
    
                        .product__item{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            height: 100%;
                            border: 1px solid #EFF3F3;
                            padding: 12px;
                            word-wrap: break-word;
    
                            .item__img{
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }

                    @media screen and (max-width: 1100px) {
                        display: none;
                    }
                }

                .product_big_slider{
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    overflow: hidden;
                    border: 1px solid $grey_4;

                    .big-product-slider{
                        height: 100%;

                        @media screen and (max-width: 500px) {
                            padding: 0;
                            padding-top: 40px;
                        }
                    }

                    .big_product__items{
                        max-height: 450px;
                        width: 100%;
                        height: 100% !important;

                        .product__item{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            padding: 10px;
                            padding-top: 0;
                            padding-bottom: 0; 
                            
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .item__img{
                                max-width: 100%;
                                max-height: 100%;   
                            }

                            @media screen and (max-width: 1100px) {
                                max-height: 100%;   
                            }
                            @media screen and (max-width: 550px){
                                .item__img{
                                    max-width: 90%;
                                    max-height: 90%;   
                                }
                            }
                        }
                    }

                    .info__promotions{
                        display: none;
                    }

                    .mb_controlls{
                        display: none;
                        @media screen and (max-width: 1100px) {
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;

                            .slider__left_arrow, .slider__right_arrow {
                                background: transparent;
                                border: 0;
                                margin-bottom: -5px;

                                path{
                                    transition: all .2s linear;
                                }

                                &:hover path{
                                    stroke: $green;
                                }
                            }

                            .big_slider__pagination {
                                width: auto;
                                

                                .swiper-pagination-bullet{
                                    transition: all .2s linear;
                                    background: $grey_2;
                                    width: 8px;
                                    height: 8px;
                                    margin: 0 15px;
                                }

                                .swiper-pagination-bullet-active{
                                    background: $green;
                                }
                            }
                        }

                        @media screen and (max-width: 500px) {
                            padding: 0px 15px;

                            .slider__left_arrow, .slider__right_arrow {
                                background: transparent;
                                border: 0;
                                margin-bottom: -2px;

                                path{
                                    transition: all .2s linear;
                                }

                                &:hover path{
                                    stroke: $green;
                                }
                            }

                            .big_slider__pagination {
                                width: 100%;
                                display: flex;
                                justify-content: space-evenly;
                                padding-left: 10px;
                                padding-right: 10px;

                                .swiper-pagination-bullet{
                                    transition: all .2s linear;
                                    background: $grey_2;
                                    width: 5px;
                                    height: 5px;
                                    margin: 0px;
                                }

                                .swiper-pagination-bullet-active{
                                    background: $green;
                                }
                            }
                        }
                    }

                    .slider__prev{
                        left: 5px;
                        padding: 0;
                        transform: translate(0%,-40%);
                        background: transparent;
                        box-shadow: none;
                        border: none;
                        fill: none;

                        cursor: pointer;

                        &:hover{
                            path{
                                fill: none;
                                transition: all .2s linear;

                            }
                        }
                    }

                    .slider__next{
                        right: 5px;
                        padding: 0;
                        transform: translate(0%,-40%);
                        background: transparent;
                        box-shadow: none;
                        border: none;
                        fill: none;

                        cursor: pointer;

                        &:hover{
                            path{
                                fill: none;
                                transition: all .2s linear;

                            }
                        }
                    }
                    
                    @media screen and (max-width: 1100px) {
                        max-height: initial;
                        padding-bottom: 20px;
                        .big-product-slider{
                            height: calc(100% - 35px);
                        }
                    }

                    @media screen and (max-width: 750px) {
                        border-radius: 4px;

                        .info__promotions{
                            display: block;
                            position: absolute;
                            top: 2px;
                            right: 6px;
                            z-index: 1000;

                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            .promotion__item {
                                letter-spacing: 0.2em;
                                text-transform: uppercase;
                                @include text(#fff,16px,normal);
                                font-size: 14px;
                                background: $green;
                                padding: 6px 12px;
                                margin-top: 4px;

                                &-red{
                                    background: $red;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 500px) {
                        padding-bottom: 10px;
                        .info__promotions{
                            display: block;
                            position: absolute;
                            top: 2px;
                            right: 6px;
                            z-index: 1000;

                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            .promotion__item {
                               
                                @include text(#fff,16px,normal);
                                font-size: 12px;
                                background: $green;
                                padding: 3px 5px;
                                margin-top: 4px;

                                &-red{
                                    background: $red;
                                }
                            }
                        }
                    }

                    @media screen and (max-width: 380px) {
                        .info__promotions{
                            right: 3px;
                            .promotion__item {
                                @include text(#fff,12px,300);
                                font-size: 10px;
                                padding: 3px 4px 3px 6px;
                            }
                        }
                    }
                }
                
            }

            .intro__info{
                flex: 0 1 50%;
                padding-left: 24px;

                .section__title{
                    margin-bottom: 6px;
                }

                .info__promotions {
                    display: flex;
                    margin-top: 7px;

                    .promotion__item {
                        @include text(#fff,16px,normal);
                        font-size: 12px;
                        background: $green;
                        padding: 6px 12px;
                        margin-right: 8px;
                        
                        &-red{
                            background: $red;
                        }
                    }
                    @media screen and (max-width: 750px) {
                        display: none;
                    }
                }

                .info__price {
                    margin-top: 14px;
                    @include text($black,24px,normal);
                    font-size: 24px;
                    margin-bottom: 13px;

                    span{
                        @include text($grey_2,19px,normal);
                        margin-left: 9px;
                    }

                    @media screen and (max-width: 750px) {
                        @include text($black,24px,600);
                        font-size: 24px;
                    }
                    @media screen and (max-width: 500px) {
                        @include text($black,20px,600);
                        font-size: 16px;
                        span{
                            @include text($grey_2,16px,normal);
                            font-size: 12px;
                            margin-left: 8px;
                        }
                    }
                }

                .info__buy{
                    max-width: 62%;

                    .buy__btn{
                        margin-bottom: 20px;
                        max-width: 100%;
                        width: 100%;
                        @include button($green);
                        padding: 11px 15px;
                        margin-top: 16px;
                        border: 1px solid $green;
    
                        &:hover{
                            background: transparent;
                            color: $green;
                        }
                    }
    
                    .buy__availability {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 18px;
    
                        .availability__blocks {
                            display: flex;
                            align-items: center;
    
                            .blocks__item{
                                width: 40px;
                                height: 10px;
                                background: $grey_3;
                                margin: 0px 2px;
    
                                &:first-child{
                                    border-top-left-radius: 40px;
                                    border-bottom-left-radius: 40px;
                                }
    
                                &:last-child{
                                    border-top-right-radius: 40px;
                                    border-bottom-right-radius: 40px;
                                }
    
                                &-green{
                                    background: $green;
                                }
                            }
                        }
                        .availability__text {
                            @include text($grey_1, 16px, 600);
                            font-size: 12px;
    
                            .text__green{
                                color: $green;
                            }
                        }
                    }

                    .buy__wholesale {
                        max-width: 100%;
                        width: 100%;

                        .wholesale__title {
                            @include text($black,16px,600);
                            margin-bottom: 11px;
                        }

                        .wholesale__list {
                            list-style: none;
    
                            .wholesale__item{
                                border-bottom: 1px solid $grey_4;
                                padding-bottom: 4px;
                                margin-bottom: 8px;
    
                                display: flex;
                                align-items: center;
                                
                                &:last-child{
                                    border-bottom: 0;
                                }

                                .item__price {
                                    @include text($black,19px,normal)
                                }
                                .item__number {
                                    @include text($grey_2,16px,600);
                                    font-size: 12px;
                                    margin-left: 8px;
                                }
                                .item__rebate {
                                    @include text($red,21px,700);
                                    font-size: 16px;
    
                                    margin-left: auto;
                                }
                            }
                        }        
                    }
                }
                
                @media screen and (max-width: 750px) {
                    margin-top: 20px;
                } 
            }

            @media screen and (max-width: 1100px) {
                align-items: initial;
                .intro__info{
                    .info__buy{
                        max-width: 100%;
                    }
                }
            }
            @media screen and (max-width: 750px) {
                flex-direction: column;

                .intro__sliders{
                    .big-product-slider{
                        padding: 20px;
                        padding-top: 40px;
                    }
                }

                .intro__info{
                    padding-left: 0;

                    .info__buy{
                        max-width: 80%;
                        margin-top: 5px;
                    }
                }
            }

            @media screen and (max-width: 550px){
                .intro__info{
                    .info__buy{
                        max-width: 100%;
                    }
                }   
            }
            @media screen and (max-width: 500px){
                margin-bottom: 19px;   
            }
        }

        .product__info{
            max-width: 550px;

            .section__title{
                margin-bottom: 21px;

                @media screen and (max-width: 500px) {
                    margin-bottom: 12px;
                }
            }

            .info__block{
                margin-bottom: 24px;

                .block__title{
                    @include text($black,24px,700);
                    font-size: 18px;
                    margin-bottom: 6px;

                    @media screen and (max-width: 500px) {
                        font-size: 14px;
                    }
                }

                .block__cap{
                    @include text($grey_2,16px,600);
                    font-size: 12px;
                    margin-bottom: 10px;
                }
    
                .block__table {
                    display: flex;
                    border: 1px solid $grey_4;
                    .block_item {
                        flex: 0 1 25%;
                        text-align: center;
                        .item__title {
                            background: $grey_4;
                            padding: 9px 10px 4px 10px;

                            @include text($grey_1,19px,normal);
                        }
                        .item__text {
                            padding: 9px 10px 4px 10px;

                            @include text($green,19px,normal);
                        }
                    }   

                    @media screen and (max-width: 400px) {
                        flex-direction: column;
                        .block_item {
                            display: flex;
                            .item__title {
                                flex: 0 1 50%;
                                text-align: left;
                            }
                            .item__text {
                                flex: 0 1 50%;
                                text-align: left;
                            }
                        }
                    }
                }

                @media screen and (max-width: 500px) {
                    margin-bottom: 16px;
                }
            }
        }

        @media screen and (max-width: 750px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        @media screen and (max-width: 500px) {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
        }
    }

    .goods_of_the_day__products{
        padding-top: 0;
        .products__item{
            margin-top: 24px;
        }

        @media screen and (max-width: 400px) {
            padding-bottom: 16px;
        }
    }

    .all_products{
        display: none;

        @media screen and (max-width: 700px) {
            display: block;
            text-decoration: none;
            text-align: center;
            @include text($grey_2, 24px, normal);
            font-size: 20px;
        }
        @media screen and (max-width: 400px) {
            @include text($grey_2, 19px, normal);
        }
    }


    @media screen and (max-width: 1100px) {
        padding-right: 24px;
    }
    @media screen and (max-width: 550px) {
        padding-right: 16px;
    }
    @media screen and (max-width: 400px) {
        padding-bottom: 0;
    }
}

.mn_opened{
    .product_page{
        .product__container{
            @media screen and (max-width: 1400px) {
                .product__intro{
                    flex-wrap: wrap;
                    .intro__sliders{
                        flex: 0 1 100%;
                    }
                    .intro__info{
                        margin-top: 20px;
                        padding-left: 0;
                        flex: 0 1 100%;
        
                        .info__buy{
                            margin-top: 10px;
                        }
                    }
                }       
            }
            @media screen and (max-width: 1250px) {
                .product__intro{
                    .intro__info{
                        .info__buy{
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
    
}
