.profile_page{
    padding-top: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 100vh;

    a{
        text-decoration: none !important;
    }

    .page__title{
        @include text($black,32px,600);
        font-size: 24px;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 18px;
    
        @media screen and (max-width: 500px) {
            @include text($black,20px,600);
            font-size: 16px;
        }
    }

    .profile__form{
        max-width: 322px;
        width: 100%;
        margin-top: 24px;

        @include formInput();

        .form__div{
            word-wrap: break-word;
            margin-bottom: 20px;

            &-req{
                margin-bottom: 5px;
            }


            .file_label{
                display: block;
                border: 1px dashed #AAAFB4;
                text-align: center;
                position: relative;
                
                cursor: pointer;

                p{
                    @include text($grey_2,19px,normal);
                    margin-bottom: 6px;
                    padding: 16px;
                    padding-bottom: 0;
                }
                svg{
                    margin-bottom: 16px;
                }
            }
            #gallery{
                max-width: 100%;
                margin-top: 20px;
                img{
                    width: 100%;
                }
            }

            #file_name{
                margin-top: 12px;
                @include text($grey_1,19px,normal);
            }
        }
        .form__input{
            border: 1px solid $grey_3;

            transition: all .2s linear;
            &:focus{
                border: 1px solid #AAAFB4;
            }
        }

        .input__error{
            font-size: 11px;
            color: $red;
            margin-left: 12px;
            opacity: 0;

            transition: .2s linear;
        }

        .req_input{
            
            &:required:invalid{
                border: 1px solid $red;
            }

            &:required:invalid + .form__label{
                color: $red
            }

            &:required:invalid ~ .input__error{
                opacity: 1;
            }
        }

        .block__btn{
            display: block;
            width: 100%;
            padding: 11px;
            @include text($black,19px,normal);
            letter-spacing: 0.2em;
            text-transform: uppercase;
            background: #fff;
            border: 1px solid $grey_3;
            cursor: pointer;

            transition: .2s linear;

            &:hover{
                color: #fff;
                background: $grey_1;
                border: 1px solid $grey_1;
            }

            &-leave{
                margin-top: 16px;
            }
        }
    }

    .page__line{
        border: 0;
        border-top: 1px solid rgba(55, 56, 57, .1);
        margin-bottom: 23px;
        
        @media screen and (max-width: 500px) {
            margin-bottom: 8px;
        }
    }
    
    .payment__block{
        max-width: 700px;
        width: 100%;
        margin-left: 147px;
        padding-right: 16px;

        transition: .3s linear;

        .block__title{
            @include text($black,24px,700);
            font-size: 18px;
            margin-bottom: 6px;

            @media screen and (max-width: 500px) {
                @include text($black, 17px,700);
                font-size: 14px;
            }
        }

        .block__text{
            @include text($grey_1,19px,normal);
            margin-bottom: 18px;
    
            @media screen and (max-width: 500px) {
                @include text($grey_1,16px,normal);
                font-size: 12px;
                margin-bottom: 10px;
            }
        }

        .block__images{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 45px;
            .images__item{
                flex: 0 1 31%;
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width: 500px) {
                margin: 22px 0px;
            }
        }

        .block__city_list{
            margin-top: 27px;
            
            .list__item{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $grey_4;
                padding-bottom: 7px;
                margin-top: 13px;

                .item__name {
                    @include text($black,19px,normal);

                    @media screen and (max-width: 500px) {
                        @include text($black,16px,normal);
                        font-size: 12px;

                        p{
                            display: inline;
                        }
                    }
                }

                .item__days {
                    max-width: 250px;
                    display: flex;
                    justify-content: space-between;

                    .days__item{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        flex: 0 1 19%;
                        background: $grey_3;
                        margin-left: 4px;
                        text-transform: uppercase;
                        padding: 1px 6px;
                        padding-bottom: 2px;
                        border-radius: 3px;

                        @include text($grey_3,16px,normal);
                        font-size: 12px;

                        &-red{
                            color: #fff;
                            background: $red;
                        }

                        &-yellow{
                            color: #fff;
                            background: #F09E00;
                        }

                        &-green{
                            color: #fff;
                            background: $green;
                        }

                        &-blue{
                            color: #fff;
                            background: #0089B5;
                        }

                        &-pink{
                            color: #fff;
                            background: #D807B6;
                        }
                    }
                }

                @media screen and (max-width: 650px){
                    flex-direction: column;

                    .item__days {
                        max-width: initial;
                        margin-top: 9px;

                        .days__item{
                            justify-content: initial;
                            flex: 0 1 18%;
                            margin-left: 0;
                        }
                    }
                }
            }

            @media screen and (max-width: 500px) {
                margin-top: 0px;
            }
        }

        .block__order_collection{
            margin: 22px 0px;
           p{
                @include text($grey_1,16px,600);
                font-size: 12px;
        
                @media screen and (max-width: 500px) {
                    
                    margin-bottom: 10px;
                } 
           }

           .red{
                color: $red;
           }
        }
    }

    .mobile__links{
        display: none;
        margin-bottom: 10px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 1px;
            height: 0;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        .links__item{
            display: flex;
            align-items: center;
            text-decoration: none;

            margin-right: 12px;
            

            span{
                margin-left: 7px;
                white-space: nowrap;

                @include text($grey_2,19px,bold)
            }

            @media screen and (max-width: 400px) {
                span{
                    @include text($grey_2,16px,bold);
                    font-size: 12px;
                }
            }

            &-active{
                pointer-events: none;
                path{
                    fill: $green;
                }

                span{
                    color: $green !important;
                }
            }
        }

        @media screen and (max-width: 600px) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 400px) {
            display: flex;
            padding-right: 8px;
        }
    }

    .empty_order_block{
            max-width: 550px;
            width: 100%;
            word-wrap: break-word;
            align-items: center;

            display: flex;

            background: $grey_4;

            padding: 40px;
            margin-top: 30px;

            .item__image{
                position: relative;
                
                // z-index: 10;

                &::after{
                    content: " ";
                    position: absolute;
                    bottom: -16px;
                    left: -16px;
                    z-index: 1;
                    width: 152px;
                    height: 157px;
                    background: #fff;
                }

                .image__container{
                    position: relative;
                    border: 1px solid #DEE2E6;
                    z-index: 10;
                    padding: 42px;
                    img{
                        position: relative;
                        z-index: 10;
                        
                    }
                }
            }

            .item__info{
                position: relative;
                z-index: 10;
                margin-left: 26px;

                .info__title{
                    @include text(#040507,32px,600);
                    font-size: 24px;
                    margin-bottom: 12px;

                }

                .info__link{
                    display: block;
                    text-align: center;
                    background: $green;
                    @include text(#fff,19px,600);
                    text-transform: uppercase;
                    width: 100%;
                    padding: 11px;
                    letter-spacing: 0.3em;

                    margin-top: 20px;

                    cursor: pointer;

                    transition: .2s linear;
                    border: 1px solid $green;

                    &:hover{
                        background: transparent;
                        color: $green;
                    }
                }
            }
        @media screen and (max-width: 600px) {
            flex-direction: column;

            .item__info{
                margin-top: 20px;
            }
        }
        @media screen and (max-width: 400px) {
            padding: 16px;

            .item__image{
                &::after{
                    content: " ";
                    position: absolute;
                    bottom: -8px;
                    left: -8px;
                    z-index: 1;
                    width: 86px;
                    height: 93px;
                    background: #fff;
                }

                .image__container{
                    padding: 22px;
                    img{
                        max-width: 40px;
                    }
                }
            }

            .item__info{
                margin-top: 20px;
                margin-left: 5px;
                text-align: center;

                width: 100%;

                .info__title{
                    @include text($black,21px,600);
                    font-size: 16px;
                }

                .info__link{
                    letter-spacing: 0.2em;
                    width: 100%;
                    @include text(#fff,19px,600);
                }
            }
        }
    }
    
    .payment_history_block{
        max-width: 550px;
        width: 100%;
        
        .block__list {
            a{
                text-decoration: none;
            }
            .list__item {
                border: 1px solid $grey_4;
                padding: 10px;
                padding-top: 11px;
                display: flex;

                align-items: center;
                margin-bottom: 24px;

                .item__info {
                    margin-left: 12px;
                    .info__name {
                        @include text($black,19px,600)
                    }

                    .info__date {
                        margin-left: 6px;
                        @include text($grey_2,16px,600);
                        font-size: 12px;
                    }
                }
            }
        } 
    }

    @media screen and (max-width: 1100px){
        .payment__block{
            padding-left: 44px !important;
            padding-right: 44px !important;
            margin-left: 0;
        }
    }
    @media screen and (max-width: 700px){
        padding-right: 0px !important;
        .payment__block{
            padding-left: 24px !important;
            padding-right: 24px !important;
        }

        .mobile__links{
            padding-left: 24px;
        }
    }

    @media screen and (max-width: 500px){
        .payment__block{
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        .mobile__links{
            padding-left: 17px;
        }
    }

    .duty__content {
        display: none;
        text-align: center;
        padding: 25px 38px;
        background: #585C60;
        margin-top: -23px;
        margin-bottom: 16px;

        .content__title {
            @include text(#fff,24px,600);
            font-size: 18px;  
            margin-bottom: 10px; 
            
            @media screen and (max-width: 400px) {
                @include text(#fff,16px,600);
                font-size: 12px;  
            }
        }

        .content__text {
            @include text($grey_3,19px,normal);

            @media screen and (max-width: 400px) {
                @include text($grey_3,16px,normal);
                font-size: 12px;  
            }
        }

        .content__price {
            @include text(#fff,26px,bold);
            font-size: 22px; 

            margin: 5px 0px;

            @media screen and (max-width: 400px) {
                @include text(#fff,20px,bold);
                font-size: 18px;   
                margin: 3px 0px;
            }
        }

        @media screen and (max-width: 600px) {
            display: block;
        }
        @media screen and (max-width: 500px) {
            margin-top: -10px;
            padding: 16px;
        }
    }

    .profile__manager {
        width: 100%;
        display: none;
        justify-content: space-between;
        margin-top: auto;
        background: $black;
        margin-top: 36px;
        margin-bottom: -16px;

        .manager__info {
            display: flex;
            align-items: center;
            padding: 40px 28px;

            .info__img{
                @media screen and (max-width: 400px) {
                    max-width: 76px;
                }
            }

            .info__text {
                margin-left: 16px;

                .text__name {
                    @include text(#fff, 24px, 600);
                    font-size: 18px;

                    @media screen and (max-width: 400px) {
                        @include text(#fff, 19px, 600);
                        font-size: 14px;
                    }

                    @media screen and (max-width: 340px) {
                        @include text(#fff, 16px, 600);
                        font-size: 12px;
                    }
                }
                .text__position {
                    @include text($grey_2, 24px, normal);
                    margin-bottom: 5px;

                    @media screen and (max-width: 400px) {
                        @include text( $grey_2, 19px, normal);
                        font-size: 14px;
                    }

                    @media screen and (max-width: 340px) {
                        @include text( $grey_2, 16px, normal);
                        font-size: 12px;
                    }
                }
                .text__phone {
                    @include text(#fff, 21px, bold);
                    font-size: 16px;

                    @media screen and (max-width: 400px) {
                        @include text( #fff, 19px, bold);
                        font-size: 14px;
                        margin-top: 18px;
                    }

                    @media screen and (max-width: 340px) {
                        @include text( #fff, 16px, bold);
                        font-size: 12px;
                        margin-top: 18px;
                    }
                }
                @media screen and (max-width: 400px) {
                    margin-left: 10px;
                }
            }
            @media screen and (max-width: 500px) {
                padding: 16px 20px;
                padding-right: 11px;
            }
        }
        
        .manager__icons {
            display: flex;
            flex-direction: column;

            padding: 40px 24px;

            a:first-child{
                margin-bottom: 32px;
            }
            @media screen and (max-width: 500px) {
                padding: 16px;
                align-items: center;
                justify-content: center;
                a:first-child{
                    margin-bottom: 16px;
                }
            }
            
        }

        @media screen and (max-width: 600px) {
            display: flex;
        }
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 0;   
    }
}

.empty_order_page{
    @media screen and (max-width: 600px) {
        min-height: 40vh;
    }
}

.payment_history_page{
    @media screen and (max-width: 600px) {
        min-height: 40vh;
    }
}

.orders_page{
    .orders__list {
        .list__item {
            display: flex;
            padding: 24px;
            margin-top: 24px;
            border: 1px solid $grey_4;

            .item__info {
                flex: 0 1 50%;
                border-right: 1px solid $grey_4;
                padding-right: 24px;

                .info__title {
                    @include text($grey_1,16px,600);
                    font-size: 12px;
                }

                .info__date {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 12px;

                    .date__item {
                        position: relative;
                        .item__title {
                            @include text($black,110%,600);
                            font-size: 20px;

                            @media screen and (max-width: 400px) {
                                @include text($black,110%,600);
                                font-size: 16px;
                            }
                        }
                        .item__text {
                            @include text($grey_1,16px,600);
                            font-size: 12px;
                            margin-top: 2px;
                        }

                        &-order{
                            &:after{
                                content: " ";
                                position: absolute;
                                top: 30%;
                                right: -85px;
                                width: 77px;
                                height: 1px;
                                background: $black;

                                @media screen and (max-width: 1100px){
                                    right: -220px;
                                    width: 200px;
                                }
                                @media screen and (max-width: 1000px){
                                    right: -205%;
                                    width: 200%;
                                }
                                @media screen and (max-width: 900px){
                                    right: -160%;
                                    width: 150%;
                                }

                                @media screen and (max-width: 800px){
                                    right: -110%;
                                    width: 100%;
                                }

                                @media screen and (max-width: 800px){
                                    right: -80%;
                                    width: 70%;
                                }
                                @media screen and (max-width: 650px){
                                    right: -55%;
                                    width: 50%;
                                }
                                @media screen and (max-width: 600px){
                                    right: -220px;
                                    width: 200px;
                                }
                                @media screen and (max-width: 550px){
                                    right: -190px;
                                    width: 170px;
                                }
                                @media screen and (max-width: 500px){
                                    right: -180px;
                                    width: 170px;
                                }
                                @media screen and (max-width: 450px){
                                    right: -170px;
                                    width: 160px;
                                }
                                @media screen and (max-width: 420px){
                                    right: -145px;
                                    width: 140px;
                                }
                                @media screen and (max-width: 390px){
                                    right: -105px;
                                    width: 100px;
                                }
                                @media screen and (max-width: 350px){
                                    right: -95px;
                                    width: 100px;
                                }
                            }
                        }

                        &-delivery{
                            text-align: right;
                        }   
                    }
                }

                .info__status {
                    display: inline-block;
                    @include text(#fff,16px,600);
                    font-size: 12px;
                    padding: 4px 12px;
                    padding-bottom: 6px;
                    margin-bottom: 12px;
                    margin-right: auto;

                    &-yellow{
                        background: $yellow;
                    }

                    &-grey{
                        background: $grey_2;
                    }
                }

                .info__text {
                    @include text($black,19px,600);
                    margin-bottom: 12px;
                }

                .info__price{
                    @include text($black,32px,600);
                    font-size: 24px;
                    margin-bottom: 12px;
                }

                .info__btn{
                    width: 100%;
                    padding: 10px;
                    padding-top: 11px;
                    letter-spacing: 0.3em;
                    text-transform: uppercase;
                    background: $green;
                    border: 1px solid $green;
                    cursor: pointer;

                    transition: .2s linear;

                    @include text(#fff,19px,600);

                    &:hover{
                        color: $green;
                        background: #fff;;
                    }

                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                }

                @media screen and (max-width: 600px) {
                    flex: 0 1 100%;
                    border: none;
                    padding-right: 0px;
                }
            }
            
            .item__products {
                flex: 0 1 50%;
                padding-left: 24px;
                overflow: hidden;
                
                .products__blocks{
                    .blocks__item{
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid $grey_4;
                        padding: 8px 16px;
                        padding-left: 15px;
                        margin-bottom: 14px;
    
                        .product__info{
                            display: flex;
                            align-items: center;
                            max-width: 100%;
                            .info__img {
                                max-height: 54px;
                            }
                            .info__content {
                                margin-left: 18px;
                                overflow: hidden;
                                
                                .content__text {
                                    @include text($black,19px,normal);

                                    overflow: hidden;
                                    width: 100%;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                .content__measure {
                                    .measure__price {
                                        @include text($grey_2,16px,600);
                                        font-size: 12px;
                                        margin-right: 6px;
                                    }
                                }
                            }
                            
                            
                        }
                        @media screen and (max-width: 600px) {
                            border: none;
                        }
                    }
                }

                .info__btn{
                    display: none;
                    width: 100%;
                    padding: 10px;
                    padding-top: 11px;
                    letter-spacing: 0.3em;
                    text-transform: uppercase;
                    background: $green;
                    border: 1px solid $green;
                    cursor: pointer;

                    transition: .2s linear;

                    @include text(#fff,19px,600);

                    &:hover{
                        color: $green;
                        background: #fff;;
                    }

                    @media screen and (max-width: 600px) {
                        display: block;
                    }
                }
                @media screen and (max-width: 600px) {
                    margin-top: 14px;
                    padding-left: 0;
                    flex: 0 1 100%
                }
            }

            @media screen and (max-width: 600px){
                flex-wrap: wrap;
            }

            @media screen and (max-width: 500px){
                padding: 12px;
            }
        }
    }
    
    @media screen and (max-width: 1100px){
        .payment__block{
            max-width: 100%;
            width: 100%;
        }
    } 
}

.mn_opened{
    .profile_page{
        @media screen and (max-width: 1300px){
            .payment__block{
                padding-left: 44px !important;
                padding-right: 44px !important;
                margin-left: 0;
            }
        }
    }

    .orders_page{
        @media screen and (max-width: 1400px){
            .payment__block{
                padding-left: 44px !important;
                padding-right: 44px !important;
                margin-left: 0;
            }
            .list__item {
                .item__info {
                    .info__date {
                        width: 100%;
                        .date__item{
                            &-order{
                                &:after{
                                    right: -60px;
                                    width: 55px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1150px){
            .list__item {
                .item__info {
                    .info__date {
                        .date__item{
                            &-order{
                                &:after{
                                    right: -35px;
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }      
    }
}