@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import "./mixins.scss";
@import "./animations.scss";
@import "./header.scss";
@import "./footer.scss";

body{
    font-family: "Mont Blanc",sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 100px;

    transition: all .3s linear;

    @media screen and (max-width: 1100px) {
        margin-left: 0px;     
    }
}

.content{
    padding: 64px;
    min-height: calc(100vh - 270px);
    padding-left: 44px;

    @media screen and (max-width: 1200px) {
        padding-right: 44px;
        padding-left: 24px;
    }

    @media screen and (max-width: 1100px) {
        padding-bottom: 44px;
    }

    @media screen and (max-width: 500px) {
        padding-left: 16px;
        padding-bottom: 16px;
    }
}

.main_page{
    padding-left: 64px;
    @media screen and (max-width: 1500px) {
        padding-left: 44px;
    }

    @media screen and (max-width: 1100px) {
        padding-right: 0;
    }
}

//Menu Poppup

.menu_poppup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 1000;
    max-width: 470px;
    width: 100%;
    margin-left: 96px;
    background: $black;
    transition: all .3s linear;

    border-left: 1px solid #585C60;

    padding: 40px 15px 30px 15px;

    color: #fff;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $grey_1;
        border-radius: 5px;
    }
    .mb_menu_poppup_trigger{
        position: absolute;
        top: -1px;
        padding: 17px 19px;
        border-bottom: 1px solid rgba($grey_1, 0.2);

        .item__arrow{
            transform: matrix(0, -1, -1, 0, 0, 0);
        }
    }

    .all__catalog{
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 44px;

        .catalog__link{
            text-decoration: none;
            color: #fff;
        
            .catalog__item{
                display: flex;
                align-items: center;
                margin-bottom: 6px;
                .item__text{
                    margin-left: 14px;
                    transition: all .2s linear;
                }
    
                .item__arrow{
                    margin-left: auto;
                }

                path{
                    transition: all .2s linear;
                }

                &:hover{
                    .item__text{
                        margin-left: 14px;
                        color: $green;
                    }
        
                    path{
                        fill: $green;
                    }

                    .item__arrow{
                        path{
                            fill: none;
                            stroke: $green;
                        }
                    }
                }
            }
        }
        .catalog__mb_icons{
            display: none;
        }
    }

    .filter_top_panel {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10000;
        width: 100%;

        background: $black;
        border-top: 1px solid rgba($grey_1, 0.2);

        display: flex;
        align-items: center;
        padding: 17px 16px;

        .item__text{
            margin-left: 14px;
            transition: all .2s linear;
        }

        .item__arrow{
            margin-left: auto;
            transform: matrix(0, 1, 1, 0, 0, 0);

        }

        .item__text{
            margin-left: 14px;
            color: $green;
        }

        path{
            fill: $green;
            transition: all .2s linear;
        }

        .item__arrow{
            path{
                fill: none;
                stroke: $green;
            }
        }
    }

    @include detail_catalog();

    @media screen and (max-width: 1500px) {
        max-width: 370px;
    }

    @media screen and (max-width: 1100px) {
        position: fixed;
        top: -1000px;
        bottom: 0;
        left: 0;
        bottom: initial;
        z-index: 100000;

        max-width: 100vw;
        width: 100%;
        
        margin-left: 0px;
        background: $black;
        transition: all .3s linear;

        border-left: none;
        border-top: 1px solid rgba($grey_1, $alpha: 0.2);

        padding-top: 25px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        .all__catalog{
            .catalog__link{
                margin-left: 15px;

                .catalog__item{
                    margin-bottom: 27px;

                    .item__text{
                        font-size: 18px;
                    }

                    .item__arrow{
                        margin-right: 10px;
                    }
                }
            }

            .catalog__mb_icons{
                display: flex;
                justify-content: center;
                border-top: 1px solid rgba($grey_1, $alpha: 0.2);
                padding: 16px 0px;

                
                a{
                    margin: 0px 21px;
                    path, circle{
                        transition: all .2s linear;
                    }
            
                    &:hover{
                        path, circle{
                            stroke: #008385;
                        }
                        .str_disable{
                            stroke: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .all__catalog{
            justify-content: initial;
            .catalog__link{
                margin-left: 5px;
                .catalog__item{
                    margin-bottom: 24px;

                    .item__text{
                        font-size: 16px;
                    }

                    .item__arrow{
                        display: none;
                    }
                }
        }
    }

    @media screen and (max-width: 600px) {
        .mb_catalog{
            padding-top: 55px;

            .mb_active{
                pointer-events: none;
                .item__text{
                    color: $green;
                }
            
                path{
                    fill: $green;
                    transition: all .2s linear;
                }
            
                .item__arrow{
                    path{
                        fill: none;
                        stroke: $green;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        .all__catalog{
            
            .catalog__link{
                margin-left: 5px;
                .catalog__item{
                    margin-bottom: 24px;

                    .item__text{
                        font-size: 14px;
                    }

                    .item__arrow{
                        display: none;
                    }
                }
        }
    }}
}
}

.filter_poppup{
    display: none;
    position: fixed;
    top: 66px;
    right: -100%;
    bottom: 0;
    z-index: 100000;

    max-width: 100vw;
    width: 100%;
        
    margin-left: 0px;
    background: $black;
    transition: all .3s linear;

    border-left: none;
    border-top: 1px solid rgba($grey_1, $alpha: 0.2);

    padding: 60px 15px 30px 15px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $grey_1;
        border-radius: 5px;
    }


    .filter_top_panel {
        position: absolute;

        left: 0;
        top: -1px;
        z-index: 10000;
        width: 100%;

        background: $black;
        border-top: 1px solid rgba($grey_1, 0.2);
        border-bottom: 1px solid rgba($grey_1, 0.2);

        display: flex;
        align-items: center;
        padding: 17px 16px;

        

        .item__text{
            position: relative;
            margin-left: 14px;
            transition: all .2s linear;

            .mb_filter__count{
                @include text(#fff,13px,600);
                font-size: 10px;
                background: $red;
                padding: 1px 4.5px;
                border-radius: 100%;
    
                position: absolute;
                top: -4px;
                right: -18px;
            }
        }

        .item__arrow{
            margin-right: 15px;
            transform: rotate(180deg);
        }

        .item__text{
            margin-left: 10px;
            color: #fff;
        }

        path{
            transition: all .2s linear;
        }

        .item__arrow{
            path{
                fill: none;
                stroke: #fff;
            }
        }
    }

    .category_selected{
        @include categoryItems();

        .categoryes{
            display: flex;
            flex-wrap: wrap;
            
            .categoryes__dumping{
                background: #fff;
                color: $black;

                &:hover{
                    color: #fff;
                    background: transparent;
                }
            }
        }
    }

    @include detail_catalog();
    
    .detail__catalog{
        .catalog__title{
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            .title__text{
                @include text(#fff,21px,600);
                font-size: 16px;
                margin-left: 18px;
            }
        }
        
        .catalog__filters{
            list-style: none;

            .filters__accordion{
                border-top: none;
                border-bottom: 1px solid $grey_1;

                .accordion__content{
                    height: 1px;
                    transition: .2s linear;
                }

                .accordion__input:checked ~ .accordion__content{
                    opacity: 1;
                    height: initial;
                    transition: .2s linear;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        display: block;
    }
}

.mb_menu_poppup_trigger{
    display: none;
    position: sticky;
    top: 66px;
    left: 0;
    right: 0;
    z-index: 10000;

    background: $black;
    border-top: 1px solid rgba($grey_1, 0.2);

    align-items: center;
    padding: 17px 16px;

    .item__text{
        margin-left: 14px;
        transition: all .2s linear;
    }

    .item__arrow{
        margin-left: auto;
        transform: matrix(0, 1, 1, 0, 0, 0);

    }

    .item__text{
        margin-left: 14px;
        color: $green;
    }

    path{
        fill: $green;
        transition: all .2s linear;
    }

    .item__arrow{
        path{
            fill: none;
            stroke: $green;
        }
    }

    @media screen and (max-width: 600px) {
        display: flex;
    }
}

.main_poppup{
    max-width: 370px;
}

// Main Page ----------------------------------------------
.contact_us{
    position: fixed;
    bottom: 137px;
    right: 60px;
    z-index: 10000;
    padding: 11px 14px;
    border-radius: 1000px;
    opacity: .6;
    background: #008385;
    cursor: pointer !important;

    transition: all .2s linear;   

    &:hover{
        opacity: .8;
    }
}

.section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 21px;

    font-weight: 600;
    font-size: 16px;
    text-transform: lowercase;
    color:#585C60;

    .section_title{
        font-size: 20px;
        letter-spacing: 0.7em;
        font-weight: 600;
        text-transform: uppercase;
        color: #2F2F2F;
    }
    @media screen and (max-width: 750px){
        .section_title{
            font-size: 18px;
            letter-spacing: 0.5em;
        }
        span{
            display: none;
        }
    }
    @media screen and (max-width: 500px){
        .section_title{
            font-size: 15px;
        }
    }

    @media screen and (max-width: 400px){
        .section_title{
            font-size: 13px;
        }
    }
    @media screen and (max-width: 350px){
        .section_title{
            font-size: 12px;
        }
    }
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 56px;

    .intro__slider,.intro__item{
        background: #EFF3F3; // #EFF3F3
        min-height: 480px;
    }

    .intro__slider{
        flex: 0 1 67%;
        // overflow: hidden;
        min-width: 0; // нужно чтобы использовать swiper в flex элементе
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 5px 25px 5px 0px;

        .swiper-slider{
            flex: 0 1 95%;
            position: relative;
            overflow: hidden;
            height: 100%;
            
            font-family: "Mont Blanc",sans-serif;

            .swiper-slide{
                position: relative;
                box-sizing: border-box;
                padding: 0px 40px;
                display: flex;
                overflow: hidden;


                .slide__info{
                    margin-top: 100px;
                    max-width: 90%;
                    .info__suptitle{
                        font-size: 16px;
                        color: #585C60;
                        letter-spacing: 0.32em;
                        font-weight: normal;
                    }
                    .info__title{
                        font-size: 45px;
                        margin-top: 20px;
                        font-weight: 400;
                        .title__bot{
                            position: relative;
                            &:before{
                                content: "";
                                position: absolute;
                                bottom: -3px;
                                left:0;
                                z-index: -1;
                                width: 100%;
                                height: 25px;
                                background: #ADC2C2;
                            }
                        }                      
                    }
                    .info__btn{
                        font-size: 14px;
                        color: #fff;
                        background:#008385;
                        border: 1px solid #008385;

                        letter-spacing: 0.3em;
                        text-transform: uppercase;

                        padding: 15px 65px;
                        margin: 32px 0px;

                        transition: all .2s linear;

                        &:hover{
                            background: transparent;
                            color: #008385;
                            cursor: pointer;
                        }
                    }
                }
                .slide__image{
                    position: absolute;
                    right: 0;
                    z-index: -19;
                }
            }
        }
        
        .controlls{
            flex: 0 1 5%;
            
            .slider__pagination{

                .swiper-pagination-bullet{
                    position: relative;
                    width: 5px;
                    height: 5px;

                    display: block;
                    
                    margin: 0 auto;
                    margin-bottom: 26px;
                    transition: all .2s linear;
                }

                .swiper-pagination-bullet-active{
                    background: #008385;

                    border: 1px solid #008385;

                    &::before{      
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);


                        padding: 7px;

                        background: transparent;
                        border: 1px solid #008385;
                        border-radius: 100px;

                        transition: all .2s linear;
                    }
                }
            }

            .slider__arrows{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .slider__left_arrow,.slider__right_arrow{
                    background: transparent;
                    border: none;

                    padding: 5px;
                    cursor: pointer;

                    path{
                        transition: all .2s linear;
                    }
                    &:hover{
                        path{
                            stroke: #008385;
                        }
                    }
                }
            }
        }
        
        
    }
	
    .intro__item{
        flex: 0 1 15%;
        @include promotion_item(".intro__item-second");
    }

    @media screen and (max-width: 1800px) {
        .intro__slider{
            flex: 0 1 60%;
        }

        .intro__item{
            flex: 0 1 18%;
        }
    }

    @media screen and (max-width: 1500px) {
        .intro__slider{
            flex: 0 1 100%;
        }
        .intro__item{
            margin-top: 20px;
            flex: 0 1 49%;

            .item__image{
                display: block;
                text-align: center;
                height: 100%;
                padding: 40px 0px 20px 0px;
               img{
                    max-width: 80%;
                    height: 100%;
               }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding-right: 44px;
    }

    @media screen and (max-width:800px){
        .intro__item{
            flex: 0 1 100%;
            height: 100%;
            .item__image{
               img{
                    max-width: 90%;
                    width: 100%;
               }
            }
        }
    }
}

.categories{
    overflow: hidden;
    margin-bottom: 62px;

    .categories__slider{
        margin-top: 30px;

        .categories-slider{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .categories__item{
                // cursor: pointer;
                .item__image{
                    margin: 0 auto;
                    width: 119px;
                    height: 119px;
                    border-radius: 1000px;
                    border: 4px solid #008385;
    
                    text-align: center;
    
                    img{
                        border-radius: 1000px;
                        margin: auto;
                        margin-top: 50%;
                        transform: translate(0%,-50%);
                    }

                    @media screen and (max-width: 600px) {
                        width: 94px;
                        height: 94px; 
                        border: 3px solid #008385;

                        img{
                            width: 83px;
                        }
                    }
                    @media screen and (max-width: 380px) {
                        width: 74px;
                        height: 74px; 
                        border: 2px solid #008385;

                        img{
                            width: 64px;
                        }
                    }
                    @media screen and (max-width: 345px) {
                        width: 64px;
                        height: 64px; 
                        border: 2px solid #008385;

                        img{
                            width: 54.5px;
                        }
                    }
                }
                .item__text{
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: .3em;
                    color: #838383;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 10px;

                    @media screen and (max-width: 600px) {
                        width: 94px;
                        font-size: 10px;
                        letter-spacing: .2em;
                    }
                    @media screen and (max-width: 380px) {
                        width: 74px;
                        font-size: 8px;
                    }
                    @media screen and (max-width: 345px) {
                        width: 64px;
                    }
                }
            }  

            .first-item{
                .item__image{
                    margin-left: 0;
                }
                .item__text{
                   width: 120px;
                }
            }   

            @media screen and (max-width: 1100px) {
                .categories__item{
                    // cursor: pointer;
                    .item__image{
                        margin: 0 auto;
                        width: 119px;
                        height: 119px;
                        border-radius: 1000px;
                        border: 4px solid #008385;
        
                        text-align: center;
                        
                        margin-left: 0;

                        img{
                            border-radius: 1000px;
                            margin: auto;
                            margin-top: 50%;
                            transform: translate(0%,-50%);
                        }
                    }
                    .item__text{
                        width: 120px;
                    }
                }
            }
        }
        @media screen and (max-width: 1100px) {
            margin-top: 22px;
        }
    }

    @media screen and (max-width: 1100px) {
        margin-bottom: 42px;
    }
    @media screen and (max-width: 400px) {
        margin-bottom: 32px;
    }
}

.recommend{
    position: relative;

    .recommend__slider{
        margin-top: 41px;
        overflow-x: hidden;
        padding-bottom: 56px;

        .swiper-wrapper{
            min-height: 637px;
            height: auto;
            @media screen and (max-width:600px) {
                min-height: initial;
            }
        }

        .recommend__item{
            height: 100%;
            @include product(#2F2F2F);
            
            .item__image{
                @media screen and (max-width:800px) {
                    max-height: 500px;
                }
            }
        }       
        @media screen and (max-width: 400px) {
            margin-top: 12px;  
            padding-bottom: 36px;  
        }
    }

    @media screen and (max-width: 1100px) {
        .recommend__slider{
            padding-bottom: 42px;
            margin-top: 22px;
        }
    }
}

.slider__prev{
    position: absolute;
    top: 50%;
    left: -25px;
    z-index: 10000;
    transform: translate(0%,-70%) rotate(180deg);
    padding: 15px 18px 14px 21px;
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;

    cursor: pointer;

    &:hover{
        path{
            fill: #fff;
            transition: all .2s linear;

        }
        background: #2F2F2F;
        border: 1px solid #2F2F2F;
    }
    @media screen and (max-width: 1100px) {
        display: none !important;
    }
}

.slider__next{
    position: absolute;
    top: 50%;
    right: -6px;
    z-index: 10000;
    transform: translate(0%,-70%);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    padding: 14px 18px 13px 21px;
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 1000px;

    transition: all .2s linear;

    cursor: pointer;

    &:hover{
        path{
            fill: #fff;
        transition: all .2s linear;

        }
        background: #2F2F2F;
        border: 1px solid #2F2F2F;
    }

    @media screen and(max-width: 1000px){
        right: 10px;
    }
    @media screen and (max-width: 1100px) {
        display: none !important;
    }
}

.swiper-button-disabled{
    opacity: 0;
    transition: opacity .2s linear;
    cursor: auto;
}

.promotions {
    position: relative;
    overflow-y: visible !important;

    .swiper-container{
        overflow-y: visible !important;
    }
    .promotions__slider {
        overflow-x: hidden;
        padding-bottom: 56px;
        
        margin-top: 32px;

        .promotions__item {  
            min-height: 480px;
            width: 100%;
            height: 100%;
            @include promotion_item(".promotion_item-second");

            .item__info{
                width: 100%;
            }
            .item__image{
                width: 100%;
                margin-top: auto;
            }

            

            @media screen and (max-width: 600px) {
                min-height: 400px;
                max-height: 400px;
            }
            @media screen and (max-width: 450px) {
                min-height: 350px;
                max-height: 350px;
            }
            @media screen and (max-width: 400px) {
                min-height: 305px;
                max-height: 305px;
            }
            @media screen and (max-width: 350px) {
                min-height: 280px;
                max-height: 280px;
            }

            @media screen and (max-width: 330px) {
                min-height: 265px;
                max-height: 265px;  
            }
        }
        @media  screen and (max-width: 1100px) {
            padding-bottom: 32px;
        }
        @media screen and (max-width: 400px) {
            margin-top: 12px;
        }
    } 

    @include slider-arrows();
}

.goods_of_the_day{
    &__products{
        padding: 32px 0px 56px 0px;
        display: flex;
        justify-content: space-between;

        .products__big{
            flex: 0 1 50%;
            padding-right: 1%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .big_ds{
                display: block;
            }
            .big_mb{
                display: none;
            }

            .big__image{
                flex: 0 1 60%;
                position: relative;

                border: 1px solid $border-grey;
                padding-top: 20px;
                height: 100%;

                .big__promotion{
                        position: absolute;
                        top: 25px;
                        right: -88px;
                        z-index: 10;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
        
                        .price__item{
                            display: block;
                            padding: 5px 6px 5px 10px;
                            color: #fff;
                            background: #008385;
                            text-transform: uppercase;
        
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 300;
                            letter-spacing: 0.3em;
                            
        
                            &:not(:nth-child(1)){
                                margin-top: 8px;
                            }
        
                            &-red{
                                background: #EF3541;
                            }
        
                            &-light_red{
                                background: #F48C8B;
                            }
                            @media screen and (max-width: 450px) {
                                font-size: 10px;
                                padding: 2px 3px 2px 7px;
                            }
                        }
                        @media screen and (max-width: 600px) {
                            top: 8px;
                        }
                        @media screen and (max-width: 450px) {
                            top: 4px;
                            right: 4px;
                        }
                }

                img{
                    max-height: 100%;
                    width: 100%;
                }
            }

            .big__info{
                position: relative;
                flex: 0 1 38%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .info__top{
                    margin: auto;
                    padding-top: 20%;
                }

                .info__category{
                    color: #838383;
                    font-size: 12px;
                    letter-spacing: 0.3em;
                    font-weight: 300px;
                    text-transform: uppercase;
                }

                .info__title{
                    font-size: 18px;
                    line-height: 24px;
                    color: #2F2F2F;
                    font-weight: 600;
                    margin: 8px 0px;
                }

                .info__price{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 14px;
    
                    .price__unit{
                        font-size: 12px;
                        line-height: 16px;
                        color: #838383;
                        font-weight: 400;
                        margin-left: 8px;
                    }
                }

                .mb_btn{
                    display: none;
                }

                .info__text{
                    @include text(#585C60,19px,300)
                }
                .info__bottom{
                    position: relative;
                    margin-top: auto;
                    .info__price{
                        align-items: flex-end;
                        @include text($black,41px,600);
                        font-size: 41px;
                        margin-bottom: 0;
                    }
    
                    .info__btn{
                        width: 100%;
                        @include button($black);
                        margin-top: 22px;
    
                        &:hover{
                            background: #008385;
                        }
        
                    }
                    @media screen and (max-width: 600px) {
                        display: none;
                    }     
                }
                @media screen and (max-width: 750px) {     
                    .mb_btn{
                        display: block;
                    }
                    .ds_btn{
                        display: none;
                    }
                }

                @media screen and (max-width: 600px) {     
                    transform: translate(0%,-10%);
                }
                @media screen and (max-width: 450px) {
                    transform: translate(0%,-13%);
                    .info__category{
                        font-size: 8px;
                    }

                    .info__title{
                        font-size: 14px;
                        line-height: 19px;
                    }
                              
                    .info__text{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                @media screen and (max-width: 350px) {
                    transform: translate(0%,-13%);
                    .info__category{
                        font-size: 10px;
                    }

                    .info__title{
                        font-size: 16px;
                        line-height: 20px;
                        margin: 6px 0px;
                    }
                              
                    .info__text{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                .big_ds{
                    display: none;
                }
                .big_mb{  
                    display: block;
                    flex: 0 1 60%;
                    
                    .info__bottom{
                        display: block !important;
                        position: relative;
                        margin-top: 12px;

                        .info__price{
                            align-items: flex-end;
                            @include text($black,30px,600);
                            font-size: 30px;
                            margin-bottom: 0;
                        }

                        .price__unit{
                            font-size: 12px;
                            line-height: 16px;
                            color: #838383;
                            font-weight: 400;
                            margin-left: 8px;
                        }
        
                        .info__btn{
                            width: 100%;
                            @include button($black);
                            margin-top: 12px;
        
                            &:hover{
                                background: #008385;
                            }
            
                        }
                        @media screen and (max-width: 600px) {
                            display: none;
                        }     
                    }
                }
            }

            @media screen and (max-width: 400px) {
                .big_ds{
                    display: none;
                }
                .big_mb{  
                    display: block;
                    flex: 0 1 70%;
                    .big__image{
                        padding-top: 30px;
                        img{
                            max-height: 100%;
                            width: 100%;
                        }
                    }

                    .info__bottom{
                        display: block !important;
                        position: relative;
                        margin-top: 12px;

                        .info__price{
                            align-items: flex-end;
                            @include text($black,19px,600);
                            font-size: 16px;
                            margin-bottom: 0;
                        }

                        .price__unit{
                            font-size: 10px;
                            line-height: 16px;
                            color: #838383;
                            font-weight: 400;
                            margin-left: 4px;
                        }
        
                        .info__btn{
                            width: 100%;
                            @include button($black);
                            margin-top: 12px;
                            font-size: 12px;
                            padding: 8px;
        
                            &:hover{
                                background: #008385;
                            }
            
                        }
                        @media screen and (max-width: 600px) {
                            display: none;
                        }     
                    }
                }
            }
            @media screen and (max-width: 500px) {
                margin-bottom: 15px;
            }
        }
        
        .products__item{
            flex: 0 1 24%;
            @include product(#2F2F2F);

            .item__image{
                padding: 18px 25px 26px 25px;
                .price{
                    .price__item{
                        @media screen and (max-width: 400px) {
                            top: 5px;
                            font-size: 10px;
                            line-height: 11px;
                            right: -5px;
                        }
                    }         
                }
            }
        }

        @media screen and (max-width: 1500px) {
            flex-wrap: wrap;

            .products__big{
                flex: 0 1 100%;  
                justify-content: space-evenly;
                margin-bottom: 50px;

                .big__image{
                    flex: 0 1 40%;
                    position: relative;
    
                    border: 1px solid $border-grey;
                    padding-top: 10px;
                    height: 100%;

                    text-align: center;
    
                    img{
                        max-height: 80vh;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            .products__item{
                flex: 0 1 49%;  
            }
        }
        @media screen and (max-width: 1100px) {
            padding-top: 22px;
            padding-bottom: 42px;
            .products__big{ 
                justify-content: initial;

                .big__info{
                    margin-left: 20px;
                }
            }
        }

        @media screen and (max-width: 800px) {
            .products__big{ 
                justify-content: initial;
                .big__image{
                    flex: 0 1 40%;

                    .big__promotion{
                        position: absolute;
                        top: 15px;
                        right: -4px;
                        z-index: 10;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end
                    }

                    img{
                        max-height: 60vh;
                    }
                }

                .big__info{
                    flex: 0 1 55%;
                    .info__bottom{
                        .info__price{
                            font-size: 33px;
                            line-height: 32px;
                        }
                    }              
                }
            }
            
        }
        @media screen and (max-width: 700px) {
            .products__big{
                .big__image{
                    img{
                        max-height: 50vh;
                    }
                }
                .big__info{
                    margin-left: 15px;
                }
            }     
        }
        @media screen and (max-width: 600px) {
            .products__big{
                .big__image{  
                    img{
                        max-width: 100%;
                        max-height: initial;
                    }
                }
            }     
        }
        @media screen and (max-width: 400px) {
            padding-top: 11px;
            padding-bottom: 32px;
        }
    }
    @media screen and (max-width: 1100px) {
        padding-right: 24px;
    }
    @media screen and (max-width: 600px) {
        padding-right: 10px;
    }
}

.events{
    position: relative;

    .ds{
        display: block;
    }

    .events__grid{
        display: none;
    }

    .events__more{
        display: none;
    }

    .events__slider{
        overflow-x: hidden;
        margin-top: 32px;
        padding-bottom: 56px;

        .slider__item{
            .item__img{
                position: relative;

                width: 100%;
                margin-bottom: 24px;
                img{
                    width: 100%;
                    height: 100%;
                }
                .item__date{
                    position: absolute;
                    bottom: -8px;
                    left: 16px;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 16px;

                    letter-spacing: 0.3em;
                    background: #008385;
                    padding: 4px 11px;
                    color: #fff;
                }
            }

            .item__info{
                max-width: 100%;
                .info__title{
                    @include text(#040507,24px,bold);
                    font-size: 18px;
                    margin-bottom: 12px;
                }
                .info__text{
                    @include text(#585C60,19px,300);
                    font-size: 15px;
                }

                @media screen and (max-width: 850px) {
                    .info__title{
                        @include text(#040507,21px,bold);
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .info__text{
                        @include text(#585C60,19px,300);
                        font-size: 13px;
                    }
                }
            }
        }

        @include slider-arrows(); 

        @media screen and (max-width: 1100px) {
            padding-bottom: 42px; 
        }
    }

    @media screen and (max-width: 700px) {
        .ds{
            display: none;
        }

        .events__grid{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: 16px;
            margin-top: 18px;

            .grid__item{
                flex: 0 1 49%;
                margin-bottom: 12px;
                .item__img{
                    position: relative;
    
                    width: 100%;
                    margin-bottom: 16px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .item__date{
                        position: absolute;
                        bottom: -8px;
                        left: 10px;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 16px;
    
                        letter-spacing: 0.3em;
                        background: #008385;
                        padding: 4px 11px;
                        color: #fff;
                    }
                }
    
                .item__info{
                    max-width: 100%;
                    .info__title{
                        @include text(#040507,24px,bold);
                        font-size: 18px;
                        margin-bottom: 8px;
                    }
                    .info__text{
                        @include text(#585C60,19px,300);
                        font-size: 15px;
                    }
                }
            }
        }

        .events__more{
            display: block;
            margin-bottom: 32px;
            margin-top: 16px;
            text-align: center;
            text-decoration: none;

            @include text($grey_1, 21px, 600);
            font-size: 21px;
        }
    }

    @media screen and (max-width: 500px) {
        .events__grid{
            .grid__item{
                .item__img{
                    .item__date{
                        font-size: 10px;
                        padding: 4px 7px;
                        letter-spacing: 0.2em;
                    }
                }
                .item__info{
                    max-width: 100%;
                    .info__title{
                        @include text(#040507,19px,bold);
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                    .info__text{
                        @include text(#585C60,19px,300);
                        font-size: 13px;
                    }
                }
            }
        }

        .events__more{
            font-size: 17px;
        }
    }
    @media screen and (max-width: 400px) {
        .events__grid{
            margin-top: 12px;
            .grid__item{
                margin-bottom: 8px;

                .item__img{
                    margin-bottom: 12px;
                    .item__date{
                        font-size: 8px;
                        padding: 0px 4px;
                        left: 8px;
                    }
                }
                .item__info{
                    max-width: 100%;
                    .info__title{
                        @include text(#040507,16px,bold);
                        font-size: 12px;
                        margin-bottom: 6px;
                    }
                    .info__text{
                        @include text(#585C60,16px,300);
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.advantages{
    padding: 92px 94px;
    background: $grey_4;

    &__title{
        @include text(#040507,43px,600);
        font-size: 32px;
        margin-bottom: 32px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .list__item{
            flex: 0 1 31%;
            word-wrap: break-word;

            display: flex;
            flex-direction: column;

            .item__image{
                position: relative;
                
                margin-right: auto;
                // z-index: 10;

                &::after{
                    content: " ";
                    position: absolute;
                    bottom: -16px;
                    left: -16px;
                    z-index: 1;
                    width: 152px;
                    height: 157px;
                    background: #fff;
                }

                .image__container{
                    position: relative;
                    border: 1px solid #DEE2E6;
                    z-index: 10;
                    img{
                        position: relative;
                        z-index: 10;
                    }
                }    
                .first{
                    padding: 55px 40px;
                }
                .second{
                    padding: 44px
                }
                .third{
                    padding: 47px;
                }
            }
            .item__info{
                position: relative;
                z-index: 10;
                padding-left: 105px;
                margin-top: -35px;

                .info__title{
                    @include text(#040507,32px,600);
                    font-size: 24px;
                    margin-bottom: 12px;

                }

                .info__text{
                    @include text(#040507,19px,400);
                }
            }
        }
        
        @media screen and (max-width: 1700px){
            flex-wrap: wrap;
            justify-content: space-between;

            .list__item{
                flex: 0 1 48%;
                margin-bottom: 41px;

                &:last-child{
                    margin: 0 auto;
                }
            }
        }

        @media screen and (max-width: 1300px){
            flex-direction: column;

            .list__item{
                flex: 0 1 40%;
                max-width: 80%;
                margin-bottom: 41px;

                &:last-child{
                    margin: 0;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            .list__item{
                max-width: 85%;
            }
        }
    }
}

// 🕷 

.breadcrumbs{

    a{
        text-decoration: none;
        @include text($grey_1,16px,600);

        font-size: 12px;

        font-weight: 600;
        position: relative;
        margin-right: 19px;

        &:not(:last-child){
            &::after{
                content: " ";
                position: absolute;
                top: 65%;
                right: -17px;
    
                transform: translate(0%,-50%);
                z-index: 1;
                width: 11px;
                height: 1px;
                background: $grey_1;
            }
        }
    }

    .active{
        color: #AAAFB4;
        pointer-events: none;
    }
}

// Catalog Page -----------------------------------

@import "./catalog/style.scss";

// Product Page ------------------------

@import "./product/style.scss";

// On menu open -------------------

.mn_opened{
    .intro{
        justify-content: space-between;
        .intro__slider{
            flex: 0 1 100%;
        }
        .intro__item{
            margin-top: 40px;
            flex: 0 1 45%;

            .item__image{
                display: block;
                text-align: center;
                height: 100%;
                padding: 20px 0px 20px 0px;

               img{
                    max-width: 90%;
                    height: 100%;
               }
            }
        }
    }
    .categories{
        .categories__slider{
            .categories-slider{
                .categories__item{
                    
                }
            }
        }
    }

    .goods_of_the_day{
        .goods_of_the_day__products{
            flex-wrap: wrap;
            .products__big{
                flex: 0 1 100%;  
                justify-content: center;
                margin-bottom: 50px;
    
                .big__image{
                    flex: 0 1 40%;
                    position: relative;
    
                    border: 1px solid $border-grey;
                    padding-top: 10px;
                    height: 100%;
    
                    text-align: center;
                    
                    margin-right: 40px;
                    img{
                        max-height: 80vh;
                        height: 100%;
                        width: auto;
                    }
                }
            }
    
            .products__item{
                flex: 0 1 49%;  
                .item__image{
                    max-height: 90%;
                }
            }
        }
        
    }

    .advantages{
        flex-wrap: wrap;
            justify-content: space-between;

            .list__item{
                flex: 0 1 48%;
                margin-bottom: 41px;

                &:last-child{
                    margin: 0 auto;
                }
            }
    }

    @media screen and (max-width: 1800px) {
        .promotions {
            .promotions__slider {
                .promotions__item {  
                    min-height: 450px;
                    width: 100%;
                    height: 100%;
                    @include promotion_item(".promotion_item-second");
        
                    .item__info{
                        width: 100%;
                        padding-left: 13px;
                        padding-right: 13px;
                        .info__title{
                            font-size: 28px;
                        }
                        .info__subtitle{
                            font-size: 20px;
                            padding-top: 15px;
                        }
                    }
                    .item__image{
                        width: 100%;
                        margin-top: auto;

                        img{
                            max-width: 100%;
                        }
                    }
                }
            } 
        }
    }

    @media screen and (max-width: 1400px) {
        .advantages{
            padding: 50px 45px;
                flex-wrap: wrap;
                justify-content: space-between;
            .advantages__list{
                flex-direction: column;
                .list__item{
                    flex: 0 1 100%;
                    max-width: 95%;
                    margin-bottom: 41px;
    
                    .item__info{
                        width: 100%;
                        padding-left: 85px;
                    }

                    &:last-child{
                        margin: 0;
                    }
                }
            }
                
        }

        .goods_of_the_day{
            .goods_of_the_day__products{
                flex-wrap: wrap;
                .products__big{
                    flex: 0 1 100%;  
                    justify-content: center;
                    margin-bottom: 50px;
        
                    .big__image{
                        flex: 0 1 40%;
                        position: relative;
                        margin-right: 22px;
                        .big__promotion{
                            position: absolute;
                            top: 25px;
                            right: -10px;
                            z-index: 10;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                    }

                        img{
                            max-height: 80vh;
                            height: auto;
                            max-width: 28vw;
                        }
                    }

                    .big__info{
                        .info__title{
                            font-size: 17px;
                        }
                        .info__text{
                            margin-bottom: 23px;
                        }
                    }

                }
        
                .products__item{
                    flex: 0 1 49%;  
                    .item__image{
                        max-height: 90%;
                    }
                }
            }
            
        }
    
    }
}