@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import "./mixins.scss";
@import "./header.scss";
@import "./footer.scss";

body{
    font-family: "Mont Blanc",sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 100px;

    transition: all .3s linear;
}

.content{
    padding: 64px;
    min-height: calc(100vh - 270px);
}

//Menu Poppup

.menu_poppup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 1000;
    max-width: 470px;
    width: 100%;
    margin-left: 96px;
    background: $black;
    transition: all .3s linear;

    border-left: 1px solid #585C60;

    padding: 40px 15px 0px 15px;

    color: #fff;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $grey_1;
        border-radius: 5px;
    }

    .all__catalog{
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 44px;
        

        .catalog__link{
            text-decoration: none;
            color: #fff;
        
            .catalog__item{
                display: flex;
                align-items: center;
                margin-bottom: 6px;
                .item__text{
                    margin-left: 14px;
                    transition: all .2s linear;
                }
    
                .item__arrow{
                    margin-left: auto;
                }

                path{
                    transition: all .2s linear;
                }

                &:hover{
                    .item__text{
                        margin-left: 14px;
                        color: $green;
                    }
        
                    path{
                        fill: $green;
                    }

                    .item__arrow{
                        path{
                            fill: none;
                            stroke: $green;
                        }
                    }
                }
            }
        }
        
    }

    .detail__catalog{
        
    }

    @media screen and (max-width: 1500px) {
        max-width: 370px;
    }
}

// Main Page ----------------------------------------------
.contact_us{
    position: fixed;
    bottom: 137px;
    right: 60px;
    z-index: 10000;
    padding: 11px 14px;
    border-radius: 1000px;
    opacity: .6;
    background: #008385;
    cursor: pointer !important;

    transition: all .2s linear;   

    &:hover{
        opacity: .8;
    }
}

.section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 21px;

    font-weight: 600;
    font-size: 16px;
    text-transform: lowercase;
    color:#585C60;

    .section_title{
        font-size: 20px;
        letter-spacing: 0.7em;
        font-weight: 600;
        text-transform: uppercase;
        color: #2F2F2F;
    }
    
}

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 56px;

    .intro__slider,.intro__item{
        background: #EFF3F3; // #EFF3F3
        min-height: 480px;
    }

    .intro__slider{
        flex: 0 1 67%;
        // overflow: hidden;
        min-width: 0; // нужно чтобы использовать swiper в flex элементе
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 5px 40px 5px 0px;

        .swiper-slider{
            flex: 0 1 90%;
            position: relative;
            overflow: hidden;
            height: 100%;
            
            font-family: "Mont Blanc",sans-serif;

            .swiper-slide{
                position: relative;
                box-sizing: border-box;
                padding: 0px 40px;
                display: flex;
                overflow: hidden;


                .slide__info{
                    margin-top: 100px;
                    max-width: 70%;
                    .info__suptitle{
                        font-size: 16px;
                        color: #585C60;
                        letter-spacing: 0.32em;
                        font-weight: normal;
                    }
                    .info__title{
                        font-size: 45px;
                        margin-top: 20px;
                        font-weight: 400;
                        .title__bot{
                            position: relative;
                            &:before{
                                content: "";
                                position: absolute;
                                bottom: -3px;
                                left:0;
                                z-index: -1;
                                width: 100%;
                                height: 25px;
                                background: #ADC2C2;
                            }
                        }                      
                    }
                    .info__btn{
                        font-size: 14px;
                        color: #fff;
                        background:#008385;
                        border: 1px solid #008385;

                        letter-spacing: 0.3em;
                        text-transform: uppercase;

                        padding: 15px 65px;
                        margin: 32px 0px;

                        transition: all .2s linear;

                        &:hover{
                            background: transparent;
                            color: #008385;
                            cursor: pointer;
                        }
                    }
                }
                .slide__image{
                    position: absolute;
                    right: 0;
                    z-index: -19;
                }
            }
        }
        
        .controlls{
            flex: 0 1 5%;
            
            .slider__pagination{

                .swiper-pagination-bullet{
                    position: relative;
                    width: 5px;
                    height: 5px;

                    display: block;
                    
                    margin: 0 auto;
                    margin-bottom: 26px;
                    transition: all .2s linear;
                }

                .swiper-pagination-bullet-active{
                    background: #008385;

                    border: 1px solid #008385;

                    &::before{      
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);


                        padding: 7px;

                        background: transparent;
                        border: 1px solid #008385;
                        border-radius: 100px;

                        transition: all .2s linear;
                    }
                }
            }

            .slider__arrows{
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .slider__left_arrow,.slider__right_arrow{
                    background: transparent;
                    border: none;

                    padding: 5px;
                    cursor: pointer;

                    path{
                        transition: all .2s linear;
                    }
                    &:hover{
                        path{
                            stroke: #008385;
                        }
                    }
                }
            }
        }
        
    }
	
    .intro__item{
        flex: 0 1 15%;
        @include promotion_item(".intro__item-second");
    }

    @media screen and (max-width: 1800px) {
        .intro__slider{
            flex: 0 1 60%;
        }

        .intro__item{
            flex: 0 1 18%;
        }
    }

    @media screen and (max-width: 1500px) {
        .intro__slider{
            flex: 0 1 100%;
        }
        .intro__item{
            margin-top: 20px;
            flex: 0 1 49%;

            .item__image{
                display: block;
                text-align: center;
                height: 100%;
                padding: 40px 0px 20px 0px;
               img{
                    max-width: 80%;
                    height: 100%;
               }
            }
        }
    }
    @media screen and (max-width:800px){
        .intro__item{
            flex: 0 1 100%;
            height: 100%;
            .item__image{
               img{
                    max-width: 90%;
                    width: 100%;
               }
            }
        }
    }
}

.categories{
    overflow: hidden;
    margin-bottom: 62px;

    .categories__slider{
        margin-top: 30px;

        .categories-slider{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .categories__item{
                // cursor: pointer;
                .item__image{
                    margin: 0 auto;
                    width: 119px;
                    height: 119px;
                    border-radius: 1000px;
                    border: 4px solid #008385;
    
                    text-align: center;
    
                    img{
                        border-radius: 1000px;
                        margin: auto;
                        margin-top: 50%;
                        transform: translate(0%,-50%);
                    }
                }
                .item__text{
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: .3em;
                    color: #838383;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 10px;
                }
            }  

            .first-item{
                .item__image{
                    margin-left: 0;
                }
                .item__text{
                    margin-right: 20px;
                }
            }   
        }
    }
}

.recommend{
    position: relative;

    .recommend__slider{
        margin-top: 41px;
        overflow-x: hidden;
        padding-bottom: 56px;

        .swiper-wrapper{
            min-height: 637px;
            height: auto;
        }

        .recommend__item{
            height: 100%;
            @include product(#2F2F2F);
        }       
    }
}

.slider__prev{
    position: absolute;
    top: 50%;
    left: -25px;
    z-index: 10000;
    transform: translate(0%,-70%) rotate(180deg);
    padding: 15px 18px 14px 21px;
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;

    cursor: pointer;

    &:hover{
        path{
            fill: #fff;
        transition: all .2s linear;

        }
        background: #2F2F2F;
        border: 1px solid #2F2F2F;
    }
}

.slider__next{
    position: absolute;
    top: 50%;
    right: -6px;
    z-index: 10000;
    transform: translate(0%,-70%);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    padding: 14px 18px 13px 21px;
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 1000px;

    transition: all .2s linear;

    cursor: pointer;

    &:hover{
        path{
            fill: #fff;
        transition: all .2s linear;

        }
        background: #2F2F2F;
        border: 1px solid #2F2F2F;
    }

    @media screen and(max-width: 1000px){
        right: 10px;
    }
}

.swiper-button-disabled{
    opacity: 0;
    transition: opacity .2s linear;
    cursor: auto;
}

.promotions {
    position: relative;
    overflow-y: visible !important;

    .swiper-container{
        overflow-y: visible !important;
    }
    .promotions__slider {
        overflow-x: hidden;
        padding-bottom: 56px;
        
        margin-top: 32px;

        .promotions__item {  
            min-height: 480px;
            width: 100%;
            height: 100%;
            @include promotion_item(".promotion_item-second");

            .item__info{
                width: 100%;
            }
            .item__image{
                width: 100%;
                margin-top: auto;
            }
        }
    } 

    @include slider-arrows();
}

.goods_of_the_day{
    &__products{
        padding: 32px 0px 56px 0px;
        display: flex;
        justify-content: space-between;

        .products__big{
            flex: 0 1 50%;
            padding-right: 1%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .big__image{
                flex: 0 1 60%;
                position: relative;

                border: 1px solid $border-grey;
                padding-top: 20px;
                height: 100%;

                .big__promotion{
                        position: absolute;
                        top: 25px;
                        right: -88px;
                        z-index: 10;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
        
                        .price__item{
                            display: block;
                            padding: 5px 6px 5px 10px;
                            color: #fff;
                            background: #008385;
                            text-transform: uppercase;
        
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 300;
                            letter-spacing: 0.3em;
                            
        
                            &:not(:nth-child(1)){
                                margin-top: 8px;
                            }
        
                            &-red{
                                background: #EF3541;
                            }
        
                            &-light_red{
                                background: #F48C8B;
                            }
                        }
                }

                img{
                    max-height: 100%;
                    width: 100%;
                }
            }

            .big__info{
                position: relative;
                flex: 0 1 38%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .info__top{
                    margin: auto;
                    padding-top: 20%;
                }

                .info__category{
                    color: #838383;
                    font-size: 12px;
                    letter-spacing: 0.3em;
                    font-weight: 300px;
                    text-transform: uppercase;
                }

                .info__title{
                    font-size: 18px;
                    line-height: 24px;
                    color: #2F2F2F;
                    font-weight: 600;
                    margin: 8px 0px;
                }

                .info__price{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 14px;
    
                    .price__unit{
                        font-size: 12px;
                        line-height: 16px;
                        color: #838383;
                        font-weight: 400;
                        margin-left: 8px;
                    }
                }

                .info__text{
                    @include text(#585C60,19px,300)
                }
                .info__bottom{
                    position: relative;
                    margin-top: auto;
                    .info__price{
                        align-items: flex-end;
                        @include text($black,41px,600);
                        font-size: 41px;
                        margin-bottom: 0;
                    }
    
                    .info__btn{
                        width: 100%;
                        @include button($black);
                        margin-top: 22px;
    
                        &:hover{
                            background: #008385;
                        }
        
                    }
                }
                    

                
            }
        }
        

        .products__item{
            flex: 0 1 24%;
            @include product(#2F2F2F);

            .item__image{
                padding: 18px 25px 26px 25px;
            }
        }

        @media screen and (max-width: 1500px) {
            flex-wrap: wrap;
            .products__big{
                flex: 0 1 100%;  
                justify-content: space-evenly;
                margin-bottom: 50px;

                .big__image{
                    flex: 0 1 40%;
                    position: relative;
    
                    border: 1px solid $border-grey;
                    padding-top: 10px;
                    height: 100%;

                    text-align: center;
    
                    img{
                        max-height: 80vh;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            .products__item{
                flex: 0 1 49%;  
            }
        }
    }
}

.events{
    position: relative;
    .events__slider{
        overflow-x: hidden;
        margin-top: 32px;
        padding-bottom: 56px;

        .slider__item{
            .item__img{
                position: relative;

                width: 100%;
                margin-bottom: 24px;
                img{
                    width: 100%;
                    height: 100%;
                }
                .item__date{
                    position: absolute;
                    bottom: -8px;
                    left: 16px;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 16px;

                    letter-spacing: 0.3em;
                    background: #008385;
                    padding: 4px 11px;
                    color: #fff;
                }
            }

            .item__info{
                max-width: 100%;
                .info__title{
                    @include text(#040507,24px,bold);
                    font-size: 18px;
                    margin-bottom: 12px;
                }
                .info__text{
                    @include text(#585C60,19px,300);
                    font-size: 15px;
                }
            }
        }

        @include slider-arrows(); 
    }
}

.advantages{
    padding: 92px 94px;
    background: $grey_4;

    &__title{
        @include text(#040507,43px,600);
        font-size: 32px;
        margin-bottom: 32px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .list__item{
            flex: 0 1 31%;

            display: flex;
            flex-direction: column;

            .item__image{
                position: relative;
                
                margin-right: auto;
                // z-index: 10;

                &::after{
                    content: " ";
                    position: absolute;
                    bottom: -16px;
                    left: -16px;
                    z-index: 1;
                    width: 152px;
                    height: 157px;
                    background: #fff;
                }

                .image__container{
                    position: relative;
                    border: 1px solid #DEE2E6;
                    z-index: 10;
                    img{
                        position: relative;
                        z-index: 10;
                    }
                }    
                .first{
                    padding: 55px 40px;
                }
                .second{
                    padding: 44px
                }
                .third{
                    padding: 47px;
                }
            }
            .item__info{
                position: relative;
                z-index: 10;
                padding-left: 105px;
                margin-top: -35px;

                .info__title{
                    @include text(#040507,32px,600);
                    font-size: 24px;
                    margin-bottom: 12px;

                }

                .info__text{
                    @include text(#040507,19px,400);
                }
            }
        }
        
        @media screen and (max-width: 1700px){
            flex-wrap: wrap;
            justify-content: space-between;

            .list__item{
                flex: 0 1 48%;
                margin-bottom: 41px;

                &:last-child{
                    margin: 0 auto;
                }
            }
        }

        @media screen and (max-width: 1300px){
            flex-direction: column;

            .list__item{
                flex: 0 1 40%;
                max-width: 70%;
                margin-bottom: 41px;

                &:last-child{
                    margin: 0;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            .list__item{
                max-width: 85%;
            }
        }
    }
}

// 🕷 

.breadcrumbs{

    a{
        text-decoration: none;
        @include text($grey_1,16px,600);

        font-size: 12px;

        font-weight: 600;
        position: relative;
        margin-right: 19px;

        &:not(:last-child){
            &::after{
                content: " ";
                position: absolute;
                top: 65%;
                right: -17px;
    
                transform: translate(0%,-50%);
                z-index: 1;
                width: 11px;
                height: 1px;
                background: $grey_1;
            }
        }
    }

    .active{
        color: #AAAFB4;
        pointer-events: none;
    }
}

// Catalog -----------------------------------

@import "./catalog/style.scss";