// 320
.catalog{
    padding-top: 40px;
    padding-left: 24px;

    .top__panel{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: 24px;


        .panel__title{
            display: flex;
            align-items: center;
    
            h1{
                margin: 0;
                @include text(#040507,32px,600);
                font-size: 24px;
            }
    
            span{
                @include text($grey_1,16px,600);
                font-size: 12px;
                margin-left: 6px;
            }
        }

        .panel__info{
            .categoryes{
                display: flex;
                flex-wrap: wrap;
                
                .categoryes__item{
                    display: flex;
                    align-items: center;
                    margin-top: 12px;

                    margin-right: 8px;
                    background: $yellow;
                    padding: 6px 12px;
                    border-radius: 8px;
                    border: 1px solid $yellow;

                    transition: .2s linear;

                    @include text($black,16px,600);
                    font-size: 12px;

                    .item__close{
                        background: transparent;
                        padding: 0;
                        margin: 0;
                        margin-left: 9px;
                        border: 0;
                        outline: none;
                        margin-bottom: -4px;

                        cursor: pointer;
                    }
                }

                .categoryes__dumping{
                    background: transparent;
                    border: 1px solid $grey_3;
                    cursor: pointer;

                    &:hover{
                        border: 1px solid $grey_2;
                        background: $grey_2;
                        color: #fff;
                    }
                }

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }

        .panel__filter{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter__btn{
                margin-left: 18px;
            }

            .custom-select{
                position: relative;
                margin-left: 23px;
                max-width: 207px;
                width: 100%;

                select{
                    @include text(#040507, 19px,normal);

                    width: 207px;
                    padding: 7px 12px;

                    outline: none;
                    border: 0;

                    cursor: pointer;

                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;

                    background-color: $grey_4; 

                    option{
                        max-width: 207px;
                        padding: 7px 12px;
                    }
                }

                .custom-arrow{
                    position: absolute;
                    top: 47%;
                    right: 12px;
                    z-index: 2;

                    transform: translate(0%,-50%);
                    display: block;
                    pointer-events: none;
                }

                @media screen and (max-width: 600px) {
                    margin-left: 0px;   
                }
            } 

            .filter__btn{
                padding: 0;
                background: transparent;
                border: 0;
                opacity: .4;
                cursor: pointer;
                
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }

            .mb_filter{
                position: relative;
                display: none;
                margin-left: 13px;
                margin-right: 8px;
                background: transparent;
                border: 0;
                cursor: pointer;

                .mb_filter__count{
                    @include text(#fff,13px,600);
                    font-size: 10px;
                    background: $red;
                    padding: 2px 4px;
                    border-radius: 100%;

                    position: absolute;
                    top: -13px;
                    right: -10px;
                }

                @media screen and (max-width: 600px) {
                    display: block;
                }
            }

            .active{
                opacity: 1;
                pointer-events: none;
            }
            @media screen and (max-width: 1650px) {
                margin-top: 20px;
                .filter__btn:first-child{
                    margin-left: 0;
                }
            }
        }

        // @media screen and (max-width: 600px) {
        //     margin: 0px 0px 13px 0px;
        // }

        @media screen and (max-width: 600px) {
            margin: 13px 0px 13px 0px;

            .panel__filter{
                margin-top: 12px;
                width: 100%;

                .custom-select{
                    max-width: 90%;
                    background-color: $grey_4;
                    select{
                        width: 100%;

                        option{
                            max-width: 240px;
                            padding: 7px 12px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 500px) {
            .panel__title{
                flex-wrap: wrap;
                h1{
                    flex: auto;
                    margin-right: 6px;
                }
        
                span{
                    flex: auto;
                    margin-left: 0;
                }
            }    
        }
    }
    
    .catalog__list{
        // padding-left: 400px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .list__item{
            @include product($black);
            flex: 0 1 32%;

            .item__info{
                width: 100%;
            }

            .item__image{
                width: 100%;
                img{
                    margin-top: 3px;
                }
            }
            margin-bottom: 30px;

            @media screen and (max-width: 1400px) {
                flex: 0 1 48%;
            }
        }
    }

    .catalog__large_list{
        display: none;
        flex-direction: column;

        .list__item{
            padding: 15px 23px;
            border: 1px solid $grey_4;
            margin-bottom: 24px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                text-decoration: none;
                color: $black
            }

                .item__info {
                    flex: 0 1 32%;
                    padding-left: 20px;
                    display: flex;
                    align-items: center;

                    .info__img{
                        max-height: 100%;
                    }
                    .info__text {
                        margin-left: 37px;
                        .text__promotions {
                            display: flex;

                            .promotion__item {
                                @include text(#fff,16px,600);
                                font-size: 12px;
                                background: $green;
                                padding: 6px 12px;
                                margin-right: 8px;
                                
                                &-red{
                                    background: $red;
                                }
                            }
                        }
                        
                        .text__name {
                            @include text($black,19px,500);
                            margin-bottom: 6px;
                            margin-top: 10px;
                        }

                        .text__capacity {
                            @include text($grey_2,19px,normal);
                        }
                    }
                    
                }
                .item__wholesale {
                    flex: 0 1 25%;
                    max-width: 280px;
                    width: 100%;
                    .wholesale__title {
                        @include text($black,16px,600);
                        font-size: 12px;
                        margin-bottom: 11px;
                    }
                    .wholesale__list {
                        list-style: none;

                        .wholesale__item{
                            border-bottom: 1px solid $grey_3;
                            padding-bottom: 4px;
                            margin-bottom: 8px;

                            display: flex;
                            align-items: center;

                            .item__price {
                                @include text($black,19px,normal)
                            }
                            .item__number {
                                @include text($grey_1,16px,600);
                                font-size: 12px;
                                margin-left: 8px;
                            }
                            .item__rebate {
                                @include text($red,21px,700);
                                font-size: 16px;

                                margin-left: auto;
                            }
                        }
                    }        
                }
                .item__buy {
                    // flex: 0 1 32%;
                    text-align: right;

                    .buy__price {
                        @include text($black,24px,600);
                        font-size: 18px;
                        margin-bottom: 10px;

                        span{
                            @include text($grey_2,16px,600);
                            font-size: 12px;
                            margin-left: 10px;
                        }
                    }
                    .buy__btn {
                        padding: 11px 75px;
                        background: $green;
                        border: 1px solid $green;

                        text-transform: uppercase;
                        outline: none;
                        
                        @include text(#fff,19px,600);
                        letter-spacing: 0.3em;
                        cursor: pointer;

                        transition: .2s linear;

                        margin-bottom: 12px;

                        &:hover{
                            background: #fff;
                            color: $green;
                        }
                    }
                    .buy__availability {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .availability__blocks {
                            display: flex;
                            align-items: center;

                            .blocks__item{
                                width: 40px;
                                height: 10px;
                                background: $grey_3;
                                margin: 0px 2px;

                                &:first-child{
                                    border-top-left-radius: 40px;
                                    border-bottom-left-radius: 40px;
                                }

                                &:last-child{
                                    border-top-right-radius: 40px;
                                    border-bottom-right-radius: 40px;
                                }

                                &-green{
                                    background: $green;
                                }
                            }
                        }
                        .availability__text {
                            @include text($grey_1, 16px, 600);
                            font-size: 12px;

                            .text__green{
                                color: $green;
                            }
                        }
                    }
                    
                }
                
            @media screen and (max-width: 850px) {
                flex-wrap: wrap;

                    .item__wholesale{
                        flex: 0 1 45%;
                    }

                    .item__buy {
                        flex: 0 1 55%;
                        text-align: left;
                        margin-top: 15px;
                        
                        .buy__price{
                            font-size: 20px;
                        }

                        .buy__btn{
                            width: 100%;
                            padding: 11px 20px;
                        }
                    }
            }
        }
    }

    .bottom__panel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .see_more{
            background: #fff;

            padding: 11px 32px;
            border: 1px solid $grey_3;

            @include text(#040507, 19px,600);
            letter-spacing: 0.3em;

            transition: all .2s linear;

            cursor: pointer;

            &:hover{
                background: $grey_3;
                border: 1px solid $grey_3;
            }
        }
        .pagination{
            &__item{
                padding: 11px 16px;
                margin-left: 8px;
                border: 1px solid $border-grey;

                @include text(#040507,19px,600);

                text-decoration: none;
                transition: all .2s linear;

                &:hover{
                    background: $grey_3;
                    border: 1px solid $grey_3;
                }
            }

            &__points{
                border: none;
                pointer-events: none;

                &:hover{
                    background: transparent;
                    border: none;
                }
            }

            .active{
                background: $grey_3;
                border: 1px solid $grey_3;
            }

            @media screen and (max-width: 1100px) {
                &__item{
                    margin-left: 5px;
                }

                &__points{
                    border: none;
                    pointer-events: none;
                    margin-left: 2px;
                }
            }
        }

        
    }

    @media screen and (max-width: 1200px) {
        padding-right: 24px;
    }

    @media screen and (max-width: 700px) {
        .bottom__panel{
            flex-direction: column;
            margin-top: 0;
            .see_more{
                width: 100%;
            }  
            .pagination{
                margin-top: 32px;
                &__item{
                    margin-left: 22px;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        .bottom__panel{
            flex-direction: column;
            .see_more{
                width: 100%;
            }  
            .pagination{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__item{
                    margin-left: 0;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 16px;
    }
}

.mn_opened{
    .catalog{
        .catalog__large_list{
            @media screen and (max-width: 1350px) {
                .list__item{
                    flex-wrap: wrap;

                    .item__wholesale{
                        flex: 0 1 45%;
                    }

                    .item__buy {
                        flex: 0 1 55%;
                        text-align: left;
                        margin-top: 15px;
                        
                        .buy__price{
                            font-size: 20px;
                        }

                        .buy__btn{
                            width: 100%;
                            padding: 11px 20px;
                        }
                    }
                } 
            }
        }
    }
}
